@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@300&display=swap");

@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  @include display-flex;

  height: 100vh;

  background-color: #090b1a;
  font-family: "Work Sans", sans-serif;
}

.cards {
  @include display-flex;
  gap: 75px;
  padding-top: 150px;

  .card {
    position: relative;

    width: 750px;
    height: 5000px;

    background: linear-gradient(to top, #141e30, #243b55);

    border-radius: 25px;

    .image {
      @include display-flex;

      margin-top: 25px;

      img {
        width: 150px;
        height: 150px;

        border-radius: 50%;

        transition: transform 0.18s ease-in-out;

        &:hover {
          transform: scale(1.08);
        }
      }
    }

    .title {
      @include display-flex;

      margin-top: 25px;

      span {
        color: white;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
      }
    }

    .description {
      @include display-flex;

      margin: 30px 25px 0px;

      p {
        color: white;
      }
    }

    .social {
      @include display-flex;

      ul {
        @include display-flex;

        position: absolute;
        bottom: 25px;

        list-style-type: none;

        li {
          &:not(:last-child) {
            margin-right: 20px;
          }

          a {
            color: white;

            text-decoration: none;

            transition: color 0.4s;

            &:link,
            &:visited {
              color: white;
            }

            &:hover,
            &:active {
              color: #858585;
            }
          }
        }
      }
    }

    &-3 {
      width: 1550px;
      height: 600px;

      .card-items {
        margin: 25px;

        .card-top-bar {
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin-bottom: 25px;

          .card-contact {
            @include display-flex;

            width: 300px;
            height: 150px;

            border-radius: 5%;

            ul {
              list-style: none;

              li {
                @include display-flex;

                a {
                  margin: 5px;

                  color: white;
                  font-family: "Baloo Tamma 2", cursive;
                  font-size: 20px;
                  letter-spacing: 1px;

                  text-decoration: none;

                  transition: color 0.4s;

                  &:link,
                  &:visited {
                    color: white;
                  }

                  &:hover,
                  &:active {
                    color: #858585;
                  }
                }
              }
            }
          }

          .card-image {
            @include display-flex;
            flex-direction: column;

            width: 250px;
            height: 250px;

            border-radius: 50%;

            img {
              width: 175px;
              height: 175px;

              border-radius: 50%;

              transition: transform 250ms ease-in-out;

              &:hover {
                transform: scale(1.12);
              }
            }

            p {
              margin-top: 20px;

              color: white;
              font-family: "Poppins", sans-serif;
              font-size: 18px;
              letter-spacing: 1px;
            }
          }

          .card-social {
            @include display-flex;

            width: 300px;
            height: 150px;

            border-radius: 5%;

            ul {
              list-style: none;

              li {
                a {
                  @include display-flex;
                  flex-wrap: wrap;

                  margin: 15px;

                  transition: color 0.4s;

                  &:link,
                  &:visited {
                    color: white;
                  }

                  &:hover,
                  &:active {
                    color: #858585;
                  }
                }
              }
            }
          }
        }

        .card-bottom-bar {
          @include display-flex;

          .card-description {
            @include display-flex;

            width: 900px;
            height: 150px;

            margin: 0 20px;

            p {
              color: white;
            }
          }
        }
      }
    }
  }
}

.user__description {
  font-size: 20px;
}
