.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding-left: 10px;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: block;
  background-color: #1c1c1c;
}

.treat-button {
  align-content: center;
  font-family: 'Fascinate Inline', cursive;
  font-size: 16px;
  appearance: none;
  background: linear-gradient(to bottom, #ff1313, #ff0000);
  border: none;
  color: #FFF;
  border-radius: 6px  ;
  padding: 10px 15px 10px 13px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(white, .2);
  transition: transform .1s cubic-bezier(.5, 0, .5, 1),
  box-shadow .2s;

  &:hover {
    box-shadow: 0 0 2em rgba(white, .3);
  }

  outline: none;

  &:active {
    transform: scale(0.8) translateY(10%);
    transition-timing-function: cubic-bezier(.5, 0, .5, 1);
  }
}

.inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container{
  h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Calibri', serif;
    font-size: 32px;
    font-weight: 200;
  }
  span {
    font-weight: 800;
  }
}

.navigation {
  float: right;
  height: 100%;
  a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    li {
      display: table-cell;
      vertical-align: middle;
      horiz-align: center;
      height: 100%;
      padding-top: 13px;
      color: white;
      font-family: 'Calibri', serif;
      font-size: 18px;
    }
    li:hover {
      color: aqua;
      transition: 0.3s;
    }
  }
  .header__button {

  }
}
