.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding-left: 10px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: block;
  background-color: #1c1c1c;
}

.inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container{
  h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Calibri', serif;
    font-size: 32px;
    font-weight: 200;
  }
  span {
    font-weight: 800;
  }
}

.navigation {
  float: right;
  height: 100%;
  a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    li {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      padding-top: 13px;
      color: white;
      font-family: 'Calibri', serif;
      font-size: 18px;
    }
    li:hover {
      color: aqua;
      transition: 0.3s;
    }
  }
}
